[submodule "Hackathon2/elasticity"]
	path = Hackathon2/elasticity
	url = github:guyer/elasticity.git
[submodule "Hackathon2/FiPy"]
	path = Hackathon2/FiPy
	url = github:usnistgov/PhaseFieldHackathon-FiPy
