*~
*.aux
*.log
*.directory
Hackathon1/Cahn-Hilliard/linescan
Hackathon1/Cahn-Hilliard/mmsp2png
Hackathon1/Cahn-Hilliard/1a_Periodic/mmsp2png
Hackathon1/Ostwald_ripening/linescan
Hackathon1/Ostwald_ripening/mmsp2png
*.nav
*.out
*.pdf
*.png
*.snm
*.toc
